<!DOCTYPE html>
<html>
  <head>
    <title>Campingo Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= yield %>
  <% if user_signed_in? %>
  <a class="navbar-text"><a class="btn btn-light action-button" role="button" <%= link_to "Logout", destroy_user_session_path, method: :delete %></div>
<% else %>
  <a class="btn btn-light" type="button"><%= link_to "login", new_user_session_path %></button>
<% end %>

  </body>
</html>

